*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/build/
/output/
/logs/
Manifest.toml
/examples/mnist/logs/
/examples/mnist/output/
/examples/mnist/Manifest.toml
/examples/8gaussian/logs/
/examples/8gaussian/output/
/examples/8gaussian/Manifest.toml